@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager

@{
    MyUser user = await UserManager.GetUserAsync(User);

    if (SignInManager.IsSignedIn(User))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome </h1>
            <p> @user.FirstName @user.LastName</p>
        </div>

        
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Please Login to use the application</p>
        </div>
    }
}
